.button-design{
    top: 10rem;
    width: 9.375rem;
    height: 2.688rem;
    left: 4rem;
    background: #FFFFFF;
    border-radius: 1.875rem;
    display: inline-block;
}
.button-desc{
    padding-left:0.625rem;
}



.button-design:hover{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(30px); 
}



.all-buttons{
    display:flex;
}
