.signup-title{
}
.signup-form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.signup-label{
    display: flex;
    justify-content: center;
}
.signup-button{
    font-weight: bold;
    width: 90px;
    height: 25px;
    background: #FFFFFF;
    border-radius: 1.875rem;
    display:flex;
    
}
